
<div
  id="whisky"
  data-react-props='<%= raw({ whiskies: @whiskies.as_json(only: [:id, :name, :location_id, :tasting_notes]) }.to_json) %>'
></div>

<div
  id="location"
  data-react-props='<%= raw({ locations: @locations.as_json(only: [:id, :name]) }.to_json) %>'
></div>

<div id="app"></div>
